.form-floating>.form-control:focus~label::after {
    color: #dddddddd;
    background: transparent;
}

.form-floating>.form-control:focus~label::after,
.form-floating>.form-control:not(:placeholder-shown)~label::after,
.form-floating>.form-control-plaintext~label::after,
.form-floating>.form-select~label::after {
    position: absolute;
    inset: 1rem 0.375rem;
    z-index: -1;
    height: 1.5em;
    content: "";
    color: #dddddddd;
    background: transparent;
    border-radius: var(--bs-border-radius);
}

.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-control-plaintext~label,
.form-floating>.form-select~label {
    color: #fff;
}

.form-floating>.form-control {
    color: #fff;
}

.form-floating>.form-select {
    color: #fff;
}


.form-floating>.form-control::after {
    color: #fff;
}